.pots{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin-bottom: 60px;
}
.pots > div{
    flex: 1 1 0;
}
.pots__sections{
    display: flex;
    width: 100%;
    max-height: 40px;
}
.pots__sections > div{
    flex: 1 1 0;
    border: 1px solid black;
}