.profile__principal__content{
    display: flex;
    gap: 9%;
    flex: 1 1 0;
    width: 100%;
    max-height: 29vmin;
    min-height: max(29vmin, 105px);
    overflow: hidden;
}

.profile__principal{
    display: flex;
    align-items: center;
    flex: 1 1 0;
}
.profile__principal > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile__principal > div > div{
    display: flex;
    justify-content: center;
    font-size: max(3vmin, 11px);
}
.profile__principal:first-child{
    max-width: max(27%, 94px);
}
.profile__principal:first-child > div{
    width: max(24vmin, 84px);
    height: max(24vmin, 84px);
    border-radius: 50%;
    border: 1px solid black;
}
.profile__principal:last-child{
    gap: 4%;
}
.profile__principal:last-child > div{
    width: max(16vmin, 71px);
    height: max(11vmin, 44px);
    border: 1px solid black}