#root{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header{
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  border: 1px solid black;
  background-color: #fff;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  overflow: scroll;
}

.aside{
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  gap: 19%;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
  background-color: #fff;
}

.main, .aside{
  padding-left: 4%;
  padding-right: 4%;
}

@media screen and (min-width: 768px) {
  #root{
    display: flex;
  }
  .header{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;
    border-left: 1px solid black;
    max-width: 71px;
  }
  .main{
    flex: 1 1 0;
    height: 100%;
    margin-top: 2%;
  }
  .aside{
    display: none;
  }
}

@media screen and (min-width: 1264px) {
  .header{
    max-width: 254px;
    min-width: 254px;
  }
}